/* Home.css */

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    
}
  
  .h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-family: sans-serif;
  }
  
  .button-home {
    padding: 10px 20px;
    background-color: #0056b3; /* Change button background color */
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button-home:hover {
    background-color: #003b80; /* Darken the button color on hover */
  }
  
  .loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  